<body>

<div class="bar bar-header bar-positive">
  <h1 class="title">Food Form</h1>
</div>




  <ion-view view-title="User Info">

    <ion-content class="has-header">

      <button class="button button-full" type="submit">
        Upload Image of Food
      </button>

      <br/>

      <form>


          <label class="item item-input">
            <span class="input-label">Name of dish</span>
            <input type="text" name="name">
          </label>
          <br>
        <div class="list">
          <ion-item id="titleItem" class="item-input">
            <textarea overflow-scroll="true" id="title" placeholder="Description"></textarea>
          </ion-item>
          <br>

            <span class="input-label">Expiration date:</span>
          <label class="item item-input">
            <input type="date">
          </label>
          <br>
          <label class="item item-input item-select">
            <div class="input-label">
              &nbsp;
            </div>
            <select>
              <option selected>Ingredients</option>
              <option>Dairy</option>
              <option>Egg</option>
              <option>Peanuts</option>
            </select>
          </label>
          

          <a href="#/show">
            <button class="button button-full button-transparent" type="submit">
              Submit
            </button>
          </a>


          <br>

      </form>

    </ion-content>

  </ion-view>


</body>

</html>
