<html>


<body>

  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-view></ion-nav-view>

  <ion-view view-title="User Info">

    <ion-content class="padding">

      <button class="button button-full" type="submit">
        Upload Image of Food
      </button>

      <br/>

      <form>

        <div class="list">
          <ion-item id="titleItem" class="item-input">
            <textarea overflow-scroll="true" id="title" placeholder="Description"></textarea>
          </ion-item>
          <br>
          <br>

          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" name="username">
          </label>
          <br>
          <br>

          <label class="item item-input">
            <span class="input-label">eperation date</span>
            <input type="date">
          </label>
          <br>
          <br>



          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" name="username">
          </label>
          <br>
          <br>

          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" name="username">
          </label>
          <br>
          <br>
          <label class="item item-input item-select">
            <div class="input-label">
              &nbsp;
            </div>
            <select>
              <option selected>Default</option>
              <option>Green</option>
              <option>Red</option>
            </select>
          </label>

          <a href="#/show">
            <button class="button button-full button-positive" type="submit">
              Submit
            </button>
          </a>


          <br>
          <br>

      </form>

    </ion-content>

  </ion-view>


</body>

</html>
